@font-face {
    font-family: "roboto", sans-serif;
    src: url(./Roboto/Roboto-Regular.ttf);
}

:root{
    --main-font: "roboto", sans-serif;
    --color-blue: #0ea5e9;
    --color-orange: #facc15;
    --color-grey: #e2e8f0;
}

body{
    display:grid;
    grid-template-columns: 1fr 4fr;
    font-family: var(--main-font);
    margin:0;
}

.account_img{
    width:40px;
    border-radius: 50%;
}

.name{
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 20px;
}

/* Dashboard */

.dashboard{
    background-color: var(--color-blue);
    color:white;
    display: grid;
    gap:20px;
    align-content: start;
    padding:15px;
    
}

.logo{
    display:flex;
    align-items: center;
    
}

.logo > svg{
    width: 60px;
}

.logo > span{
    font-size: 2rem;
    font-weight: 900;
}


.profile ul{
    display:grid;
    list-style-type: none;
    padding-left: 10px;
}

li{
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

svg + span{
    padding:15px;
}


svg{
    width: 25px;
    height: auto;
    fill:white;
}

/* Header */

.header{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 6fr 3fr;
    padding: 20px;
}

.header_search{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 10fr;
    justify-content: center;
    align-items: center;
}

.header_right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding-right: 50px;
}

.search{
    width: 90%;
    height: 30px;
    background-color: var(--color-grey);
    border-radius: 15px;
}

img.header_icon{
    width: 25px;
    justify-self: end;
    align-self: center;
    
}

img.header_icon.magnify{
    padding-right:20px;
}

/* Nav */

nav{
    display:grid;
    grid-auto-flow: column;
}

/* Article */

article{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--color-grey);
}

/* project */
.project{
    grid-row: 1/3;
}

.project_container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}

.project_element > div{
    font-weight: 700;
}

img.star{
    content: url(./icons/star-plus-outline.svg);
    width: 30px;
    
}

img.eye{
    content:url(./icons/eye-plus-outline.svg);
    width: 30px;
}

img.share{
    content: url(./icons/share-variant-outline.svg);
    width: 30px;
}

/* Announce */
.announce_container, .trend_container{
    display:grid;
    grid-auto-flow: column;
}

.trend_container .account{
    display:grid;
}